
-- =============================================
-- Author:		Royette Camahalan
-- Create date: 2022-01-09
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[spComputeExpense]
	@vendorid bigint=3
AS
BEGIN
	declare @chargeid bigint
	declare @currentexpensetypeid bigint
	declare @expensetypeid bigint
	declare @refdate date
	declare @payable money
	declare @runningbalance money = 0
	declare @typeid int
	declare @postingid bigint
	declare @postingbalance money
	declare @balance money
	
	update expenseposting set balance=amount where vendorid=@vendorid
	
	declare chcur cursor for
	select expenseid chargeid,expensetype expensetypeid,refdate,amount,1 typeid
	from expenses where payeeid=@vendorid and [status]=0
	union all
	select chargeid,expensetypeid,actualdate refdate,amount,0 typeid
	from expenseposting ep where ep.vendorid=@vendorid and ep.[status]=0
	order by expensetypeid,refdate,typeid,chargeid
	
	open chcur
	
	fetch next from chcur into @chargeid,@expensetypeid,@refdate,@payable,@typeid
	set @currentexpensetypeid=0
	while @@fetch_status=0
	begin
	
		if @expensetypeid<>@currentexpensetypeid
		begin
			set @runningbalance=0
			set @currentexpensetypeid=@expensetypeid
		end
		if @typeid=0
		begin
			print 'New Payable '
			print @payable
			set @runningbalance=@runningbalance+@payable
			print 'New Running '
			print @runningbalance
			update expenseposting set runningbalance=coalesce(@runningbalance,0) where chargeid=@chargeid
		end
		else
		begin
			set @postingid=0
			set @postingbalance=0
			select top 1 @postingid=chargeid,@postingbalance=balance from expenseposting 
			where vendorid=@vendorid and expensetypeid=@expensetypeid and balance>0
			order by actualdate,chargeid
			
			select @balance=sum(balance) from expenseposting 
			where vendorid=@vendorid and expensetypeid=@expensetypeid and balance>0
			and actualdate<=@refdate
			if(coalesce(@postingid,0)>0)
			begin
			print 'New Disburse '
			print @payable
			print 'Current Running '
			print @runningbalance
				set @runningbalance=ROUND(@runningbalance-@payable,2)
				set @balance=ROUND(@balance-@payable,2)
				update expenseposting set balance=coalesce(@balance,0) where chargeid=@postingid
			print 'New Running '
			print @runningbalance
			end
			--exec [spComputeExpense] @vendorid=10
			update expenses set 
				balance=coalesce(@balance,0)
				,runningbalance=coalesce(@runningbalance,0) where expenseid=@chargeid
		end
	
		fetch next from chcur into @chargeid,@expensetypeid,@refdate,@payable,@typeid
	end
	print @runningbalance
	close chcur
	deallocate chcur
END
