
ALTER PROCEDURE [dbo].[spComputeRentals]
	@contractid bigint=4
AS
BEGIN
	--VARIABLES
	Declare @Deposit money
	Declare @ChargeId bigint
	Declare @ChargeAmount money
	Declare @Chargedate date
	Declare @Contractdate date
	Declare @billingsched int
	Declare @Interest decimal(18,2)	
	--Declare @ewtpercentage decimal(18,2)	
	Declare @monthlyewt money = 0
	Declare @ExcessPayment money
	Declare @ExcessPaymentID bigint
	Declare @PaymentID bigint
	Declare @Balance money
	Declare @Paymentextension int
	Declare @ChargeType int
	Declare @InterestType int
	declare @iswave int=0
	declare @isexit int=0
	declare @paymenttype varchar(10)
	declare @rowCount int
	
	Declare @Paymentterm int
	DECLARE @RUNNINGBALANCE money
	DECLARE @monthlyrent money
	DECLARE @advancerent money
	DECLARE @noofmonthadvance int
	declare @paymentdetailid bigint
	declare @paymentamount money
	
	Declare @nextmonth date
	
	declare @newPK bigint
	--END VARIABLES
	
	set @Deposit=0
	set @ExcessPayment=0
	set @ExcessPaymentID=0
	set @RUNNINGBALANCE=0
	
	--Get Contract Details
	select @Contractdate=contractdate,@Paymentterm=term,@monthlyrent=montlyrent,@noofmonthadvance=noofmonthadvance,
	@advancerent=advancerent,@Deposit=deposit, @billingsched=billingsched, @Interest= rc.monthlypenalty, @Paymentextension=rc.penaltyextension --,@ewtpercentage=ewtpercentage
	from rentalcontracts rc where contractid=@contractid
				
	if @Deposit>0
	begin
		set @RUNNINGBALANCE=@RUNNINGBALANCE+@Deposit
		select @rowCount=COUNT(*) from rentalcharges where contractid=@contractid and chargetype=1001
		if @rowCount=0
		begin
			INSERT INTO [dbo].[rentalcharges]
			   ([contractid],[chargedate],[chargeamount],[interestamount]
			   ,[balance],[chargetype],[runningbalance],[interestype],[interestpercentage],[createdbyid],[datecreated],[ewt])
			VALUES
			   (@contractid,@Contractdate,@Deposit,0
			   ,@RUNNINGBALANCE,1001,0,0,0,0,dbo.fnGetCurrentTime() ,0)
		end
		else
		begin
			update [rentalcharges] set chargeamount=@Deposit,balance=@Deposit,[chargedate]=@Contractdate,
			runningbalance=@RUNNINGBALANCE where contractid=@contractid and chargetype=1001
		end
	end
	else
	begin
		delete from rentalcharges where contractid=@contractid and chargetype=1001
	end
	
	if @advancerent>0
	begin
		set @RUNNINGBALANCE=@RUNNINGBALANCE+@advancerent
		select @rowCount=COUNT(*) from rentalcharges where contractid=@contractid and chargetype=1002
		if @rowCount=0
		begin
			INSERT INTO [dbo].[rentalcharges]
			   ([contractid],[chargedate],[chargeamount],[interestamount]
			   ,[balance],[chargetype],[runningbalance],[interestype],[interestpercentage],[createdbyid],[datecreated])
			VALUES
			   (@contractid,@Contractdate,@advancerent,0
			   ,@advancerent,1002,0,0,0,0,dbo.fnGetCurrentTime() )
		end
		else
		begin
			update [rentalcharges] set chargeamount=@advancerent,balance=@advancerent,[chargedate]=@Contractdate,
			runningbalance=@RUNNINGBALANCE where contractid=@contractid and chargetype=1002
		end	
	end
	else
	begin
		delete from rentalcharges where contractid=@contractid and chargetype=1002
	end
	
	
	
	if @billingsched = 0
		set @billingsched = DAY(@Contractdate)
	
	declare @tempbillingdate date = @Contractdate
	if @billingsched > DAY(DATEADD(DAY, -1, DATEADD(MONTH, DATEDIFF(MONTH, 0, @Contractdate) + 1, 0)))
	begin 
		set @tempbillingdate = DATEADD(MONTH,-1,@Contractdate)
		set @Contractdate = CAST(YEAR(@tempbillingdate) as varchar) + '-' + CAST(MONTH(@tempbillingdate) as varchar) + '-' + CAST(@billingsched as varchar)
		set @noofmonthadvance = @noofmonthadvance+1
	end
	else
	begin
		set @tempbillingdate = CAST(YEAR(@Contractdate) as varchar) + '-' + CAST(MONTH(@Contractdate) as varchar) + '-' + CAST(@billingsched as varchar)
		if @tempbillingdate < @Contractdate
			set @tempbillingdate = DATEADD(MONTH,1,@tempbillingdate)
		set @Contractdate = @tempbillingdate
	end
			
	if @Paymentterm = 0
	begin
		while DATEADD(MONTH,@Paymentterm,@Contractdate)<dbo.fnGetCurrentTime() 
			set @Paymentterm = @Paymentterm + 1
	end
		
	print @Contractdate
	print '@@Contractdate'
	print @Paymentterm
	print '@Paymentterm'
		
		
	--Reset to default or back to start(Amortization Only)
	Update rentalcharges set chargeamount=@monthlyrent,balance=@monthlyrent,interestamount=0,runningbalance=0
	where contractid=@contractid and chargetype=1003
	
	update PAYMENTDETAILS set rentalchargeid=0 where rentalid=@contractid and paymenttype=1003 and rentalchargeid>0
	--Generate Amortization Tax
	declare CursorMonthlyRent Cursor for select chargeid 
	from rentalcharges  where contractid=@contractid and chargetype=1003 order by chargeid
	open CursorMonthlyRent
	Fetch Next from CursorMonthlyRent into @ChargeId
	set @rowCount=0
	set @Chargedate=DATEADD(MONTH,@noofmonthadvance,@Contractdate)
	set @Paymentterm=@Paymentterm-@noofmonthadvance
	while @@FETCH_STATUS=0
	begin
		set @rowCount=@rowCount+1
		if @rowCount>@Paymentterm
		begin
			delete from rentalcharges where chargeid=@ChargeId
			update PAYMENTDETAILS set rentalchargeid=0 where rentalchargeid=@ChargeId
		end
		else
		begin
			update rentalcharges set chargedate=@Chargedate where chargeid=@ChargeId
			set @Chargedate=DATEADD(MONTH,@rowCount+@noofmonthadvance,@Contractdate)
		end
		Fetch Next from CursorMonthlyRent into @ChargeId
	end
	close CursorMonthlyRent
	deallocate CursorMonthlyRent
	
	while @rowCount<@Paymentterm
	begin
		set @rowCount=@rowCount+1
		INSERT INTO [dbo].[rentalcharges]
           ([contractid],[chargedate],[chargeamount],[interestamount]
           ,[balance],[chargetype],[runningbalance],[interestype],[interestpercentage],[createdbyid],[datecreated])
		VALUES
           (@contractid,@Chargedate,@monthlyrent,0
           ,@monthlyrent,1003,0,0,0,0,dbo.fnGetCurrentTime() )
		set @Chargedate=DATEADD(MONTH,@rowCount+@noofmonthadvance,@Contractdate)
	end
	
	----END Generate Amortization Tax
	
	declare @payments table(
		paymentdetailid bigint,
		paymentdate date,
		amount money,
		chargeid bigint,
		paymentid bigint, 
		chargetype int,
		paymenttype varchar(10)
	);
	
	--insert into @payments 
	--select PAYMENTDETAILID,
	--case when p.banktobank>0 then btb.PAYMENTDATE else p.PAYMENTDATE end PAYMENTDATE,pd.AMOUNT+pd.discount
	--,pd.chargeid,p.PAYMENTID,c.chargetype,coalesce(p.transtype,'P') paymenttype
	--from PAYMENT p inner join PAYMENTDETAILS pd on pd.PAYMENTID=p.PAYMENTID
	--inner join charges c on c.chargeid=pd.chargeid
	--left join BANKTOBANK btb on btb.PAYMENTID=p.PAYMENTID
	--where p.status<>1 and c.invoiceno=@InvoiceNo and c.lotid=@LotId and c.chargetype=1
	
	insert into @payments 
	select PAYMENTDETAILID,
	case when p.paymentmode=2 then btb.PAYMENTDATE else p.PAYMENTDATE end PAYMENTDATE,pd.AMOUNT+pd.discount
	,pd.rentalchargeid,p.PAYMENTID,pd.paymenttype,coalesce(p.transtype,'P') paymenttype
	from PAYMENT p inner join PAYMENTDETAILS pd on pd.PAYMENTID=p.PAYMENTID and p.status=0
	left join BANKTOBANK btb on btb.PAYMENTID=p.PAYMENTID
	where pd.rentalid=@contractid
	
	declare @paymentchargeid bigint
	declare @paymentdate date
	
	print '---------------------Start Computation-----------'
	print(@runningbalance)
	select @ChargeId=chargeid from rentalcharges where contractid=@contractid and chargetype=1001
	--Compute Deposit
	Declare @RunningDue money
	set @RunningDue=@Deposit
	set @isexit=0
	if @RunningDue>0
	begin
		while @isexit=0
		begin
			set @paymentamount=null
			select top 1 @paymentdetailid=paymentdetailid,@paymentdate=paymentdate, 
						 @paymentamount=amount, @PaymentID=paymentid from @payments
						 where chargetype in (1001)
			order by paymentdate
			if @paymentamount is null or @paymentamount=0
			begin
				set @isexit=1
			end
			else
			begin
				print @RunningDue
				print '>='
				print @RunningDue
				if @RunningDue>=@paymentamount
				begin
					set @RunningDue=@RunningDue-@paymentamount
					delete from @payments where paymentdetailid=@paymentdetailid
					set @RUNNINGBALANCE=@RUNNINGBALANCE-@paymentamount
					update PAYMENTDETAILS set runningbalance=@RUNNINGBALANCE,rentalchargeid=@ChargeId  
					where paymentdetailid=@paymentdetailid
				end
				else --sobra ang payment
				begin
					set @RunningDue=@RunningDue-@paymentamount
					delete from @payments where paymentdetailid=@paymentdetailid
					set @RUNNINGBALANCE=@RUNNINGBALANCE-@paymentamount
					set @isexit=1
					update PAYMENTDETAILS set runningbalance=@RUNNINGBALANCE,rentalchargeid=@ChargeId  
					where paymentdetailid=@paymentdetailid
				end
			end
		end
		update [rentalcharges] set balance=@RunningDue where chargeid=@ChargeId 
	end
	
	print '--Compute Advance Rental'
	print @RunningDue
	select @ChargeId=chargeid from rentalcharges where contractid=@contractid and chargetype=1002
	--Compute Advance Rental
	set @RunningDue=@advancerent
	set @isexit=0
	if @RunningDue>0
	begin
		while @isexit=0
		begin
			set @paymentamount=null
			select top 1 @paymentdetailid=paymentdetailid,@paymentdate=paymentdate, 
						 @paymentamount=amount, @PaymentID=paymentid from @payments
						 where chargetype in (1002)
			order by paymentdate
			if @paymentamount is null or @paymentamount=0
			begin
				set @isexit=1
			end
			else
			begin
				print @RunningDue
				print '>='
				print @paymentamount
				if @RunningDue>@paymentamount
				begin
					set @RunningDue=@RunningDue-@paymentamount
					delete from @payments where paymentdetailid=@paymentdetailid
					set @RUNNINGBALANCE=@RUNNINGBALANCE-@paymentamount
					update PAYMENTDETAILS set runningbalance=@RUNNINGBALANCE,rentalchargeid=@ChargeId  
					where paymentdetailid=@paymentdetailid
				end
				else --sobra ang payment
				begin
					print 'sobra ang payment'
					print @RunningDue
					set @RunningDue=@RunningDue-@paymentamount
					delete from @payments where paymentdetailid=@paymentdetailid
					set @RUNNINGBALANCE=@RUNNINGBALANCE-@paymentamount
					set @isexit=1
					update PAYMENTDETAILS set runningbalance=@RUNNINGBALANCE,rentalchargeid=@ChargeId  
					where paymentdetailid=@paymentdetailid
				end
			end
		end
		update [rentalcharges] set balance=@RunningDue where chargeid=@ChargeId 
	end
	
	
	
	
	print '------------------------START OF Monthly-------------------------------------'
	
	Declare @totalbalance money
	set @totalbalance=@RUNNINGBALANCE
	set @RunningDue=@RUNNINGBALANCE
	Declare CursorCharges cursor for
	select @Interest interest,@Paymentextension paymentextension,c.chargeid,
	c.chargeamount,c.chargedate,c.balance,c.chargetype from rentalcharges c
	where c.contractid=@contractid and chargetype in(1003)
	order by c.chargetype
	
	Open CursorCharges
		
	Fetch Next from CursorCharges into @Interest,@Paymentextension,@ChargeId,@ChargeAmount,@Chargedate,@Balance,@ChargeType
	
	while @@FETCH_STATUS=0
	begin
		SET @ChargeAmount=ROUND(@ChargeAmount,2)
		set @Balance=@ChargeAmount
		SET @RunningDue=@RunningDue+@ChargeAmount
		SET @RUNNINGBALANCE=@RUNNINGBALANCE+@ChargeAmount
		if @Chargedate<dbo.fnGetCurrentTime() 
		begin
			set @totalbalance=@RUNNINGBALANCE
		end
		print 'chargedate'
		print @Chargedate
		print @ChargeId
		print @ChargeAmount
		Declare @InterestAmount money=0
		Declare PaymentCursor Cursor for
		select paymentdetailid, paymentdate, amount, chargeid, paymentid, paymenttype from @payments
		where chargetype in(1001,1002,1003)
		order by paymentdate,chargeid,paymentid 
		
		open PaymentCursor
		
		Fetch Next from PaymentCursor into 
		@paymentdetailid,@paymentdate,@paymentamount,@paymentchargeid, @PaymentID, @paymenttype
		
		update rentalcharges set runningbalance=@RUNNINGBALANCE where chargeid=@ChargeId
		while @@FETCH_STATUS=0
		begin
			set @paymentamount=ROUND(@paymentamount,2)+@ExcessPayment
			set @ExcessPayment=0
			set @ExcessPaymentID=0
			
			print 'new payment'
			print @paymentdate
			print @paymentamount
			set @nextmonth=DATEADD(MONTH,1,@Chargedate)
			
			
			IF DATEADD(day,@Paymentextension,@Chargedate)<@paymentdate AND @InterestAmount=0 And @Balance>0
			begin
				--SET @iswave=0
				--select @iswave=COUNT(*) from waivedinterest where rentalchargeid=@ChargeId
				--if(@iswave=0)
				--begin
					print 'runningbal'
					print @RUNNINGBALANCE
					set @InterestAmount=@Balance*@Interest/100
					set @Balance=@Balance+@InterestAmount
					set @RUNNINGBALANCE=@RUNNINGBALANCE+@InterestAmount
					set @totalbalance=@RUNNINGBALANCE
					set @RunningDue=@RunningDue
					if @ChargeAmount>@Balance-@InterestAmount
					begin
						print 'part interest'
						update rentalcharges set interestamount=@InterestAmount,balance=@Balance,runningbalance=@RUNNINGBALANCE
						where chargeid=@ChargeId
					end
					else
					begin
						print 'full interest'
						update rentalcharges set interestamount=@InterestAmount,balance=@Balance,runningbalance=@RUNNINGBALANCE
						where chargeid=@ChargeId
						print 'runningbal'
						print @RUNNINGBALANCE
					end
					print 'has interest'
					print @InterestAmount
					print @ChargeAmount
					print @Balance
				--end
 				
			end
			
			if(@Balance<@paymentamount) --mas dako ang payment then split
			begin
				print 'need splitting of amount'
				update PAYMENTDETAILS set balance=@RUNNINGBALANCE,runningbalance=@RUNNINGBALANCE-@Balance,AMOUNT=@Balance,rentalchargeid=@ChargeId where PAYMENTDETAILID=@paymentdetailid
									
				INSERT INTO [dbo].[paymentdetails]
					([chargeid],[otherfeeid],[paymentid],[balance],[discount],[discount_type],[amount],[defaultchargeid],[runningbalance]
					,[invoiceno],[lotid],[paymenttype],[rentalchargeid],[rentalid],[remarks_deletion],[payableType],[surveyid])
				SELECT [chargeid],[otherfeeid],[paymentid],[balance],[discount],[discount_type],@paymentamount-@Balance [amount],[defaultchargeid],[runningbalance]
					,[invoiceno],[lotid],[paymenttype],[rentalchargeid],[rentalid],[remarks_deletion],[payableType],[surveyid]
					FROM paymentdetails where paymentdetailid=@paymentdetailid
					
				set @newPK = SCOPE_IDENTITY()
					
				insert into @payments 
					select @newPK paymentdetailid
						,paymentdate
						,@paymentamount-@Balance amount
						,chargeid
						,paymentid
						,chargetype
						,paymenttype
					from @payments
					where paymentdetailid=@paymentdetailid
					
				delete from @payments where paymentdetailid=@paymentdetailid
     
				set @Balance=0
				update rentalcharges set balance=0 where chargeid=@ChargeId
				set @RUNNINGBALANCE=@RUNNINGBALANCE-@Balance
				set @RunningDue=@RunningDue-@Balance
				set @totalbalance=@RUNNINGBALANCE
				BREAK;
			end
			else if(@Balance=@paymentamount)
			begin
				update PAYMENTDETAILS set balance=@RUNNINGBALANCE,runningbalance=@RUNNINGBALANCE-@paymentamount,AMOUNT=@paymentamount,rentalchargeid=@ChargeId where PAYMENTDETAILID=@paymentdetailid
				set @Balance=0
				update rentalcharges set balance=@Balance where chargeid=@ChargeId
				set @RUNNINGBALANCE=@RUNNINGBALANCE-@paymentamount
				set @RunningDue=@RunningDue-@paymentamount
				set @totalbalance=@RUNNINGBALANCE
				delete from @payments where paymentdetailid=@paymentdetailid
				print 'payment is equal'
				BREAK;
			end
			else
			begin
				update PAYMENTDETAILS set balance=@RUNNINGBALANCE,runningbalance=@RUNNINGBALANCE-@paymentamount,AMOUNT=@paymentamount,rentalchargeid=@ChargeId where PAYMENTDETAILID=@paymentdetailid
				set @Balance=round(@Balance-@paymentamount,2)
				if @Balance<0
				begin
					set @Balance=0
				end
				update rentalcharges set balance=@Balance where chargeid=@ChargeId
				set @RUNNINGBALANCE=@RUNNINGBALANCE-@paymentamount
				set @RunningDue=@RunningDue-@paymentamount
				delete from @payments where paymentdetailid=@paymentdetailid
				set @totalbalance=@RUNNINGBALANCE
			end
			
		
			if @Balance=0
			begin
				break;
			end
			Fetch Next from PaymentCursor into 
			@paymentdetailid,@paymentdate,@paymentamount,@paymentchargeid, @PaymentID, @paymenttype
		end
		close PaymentCursor
		Deallocate PaymentCursor
		
		print 'for last interest'
		print @Balance
		IF DATEADD(day,@Paymentextension,@Chargedate)<CONVERT(DATE,dbo.fnGetCurrentTime() ) AND @InterestAmount=0 And @Balance>0
		begin
			--declare @iswave1 int=0
			--select @iswave1=COUNT(*) from waivedinterest where rentalchargeid=@ChargeId
			--if(@iswave1=0)
			--begin
			set @InterestAmount=@Balance*@Interest/100
			print @InterestAmount
			set @Balance=@Balance+@InterestAmount
			set @RUNNINGBALANCE=@RUNNINGBALANCE+@InterestAmount
			set @RunningDue=@RunningDue+@InterestAmount
			set @totalbalance=@RUNNINGBALANCE
			print 'last interest'
			print @Balance
			print @InterestAmount
			if @ChargeAmount>@Balance-@InterestAmount
			begin
				update rentalcharges set interestamount=@InterestAmount,balance=@Balance
				where chargeid=@ChargeId
			end
			else
			begin
				update rentalcharges set interestamount=@InterestAmount,balance=@Balance,runningbalance=@RUNNINGBALANCE
				where chargeid=@ChargeId
			end
			--end
		end
		Fetch Next from CursorCharges into @Interest,@Paymentextension,@ChargeId,@ChargeAmount,@Chargedate,@Balance,@ChargeType
	end

	close CursorCharges
	Deallocate CursorCharges
	
	update rentalcontracts set totalbalance=@totalbalance where contractid=@contractid
	
	
	---======================Compute Payment For Other Charges======================================
	--Reset to default or back to start(Amortization Only)
	Update rentalcharges set balance=chargeamount,interestamount=0,runningbalance=chargeamount
	where contractid=@contractid and chargetype=0
	
	
	
	set @RUNNINGBALANCE=0
	declare @ttype int
	declare @id bigint
	declare @amount money
	declare @transdate datetime2
	Declare CursorOtherCharges cursor for
	select c.chargeid,c.chargeamount amount,c.chargedate,c.chargeid refchargeid, 0 transtype from rentalcharges c
	where chargetype=0 and contractid=@contractid
	union all
	select pd.paymentdetailid,pd.amount+pd.discount amount,case when p.paymentmode not in(2) then p.paymentdate else b.paymentdate end
		,pd.rentalchargeid refchargeid, 1 transtype from 
	payment p inner join paymentdetails pd on pd.paymentid=p.paymentid
	inner join rentalcharges ch on ch.chargeid=pd.rentalchargeid
	left join banktobank b on b.paymentid=p.paymentid where p.status<>1 and  ch.chargetype not in(1001,1002,1003)
	and ch.contractid=@contractid
	order by chargedate
	
	Open CursorOtherCharges
		
	Fetch Next from CursorOtherCharges into @id,@amount,@transdate,@chargeid,@ttype
		
	while @@FETCH_STATUS=0
	begin
		SET @amount=ROUND(@amount,2)
		if @ttype = 0 --Charge Posting
		begin
			set @RUNNINGBALANCE=@RUNNINGBALANCE+@amount
			update rentalcharges set runningbalance=@RUNNINGBALANCE where chargeid=@id
		end
		else
		begin
			set @RUNNINGBALANCE=@RUNNINGBALANCE-@amount
			update PAYMENTDETAILS set runningbalance=@RUNNINGBALANCE where PAYMENTDETAILID=@id
			update rentalcharges set balance=ROUND(balance-@amount,2) where chargeid=@chargeid
		end
		
		
		Fetch Next from CursorOtherCharges into @id,@amount,@transdate,@chargeid,@ttype
	end

	close CursorOtherCharges
	Deallocate CursorOtherCharges
	
	update rentalcontracts set totalbalance=totalbalance+@RUNNINGBALANCE where contractid=@contractid
	
	--update running balance
	declare curpayment cursor for 
	select ch.chargeamount + ch.interestamount chargeamount,null,ch.chargeid,ch.chargedate transdate, 0 typeid 
	from rentalcharges ch 
	where ch.chargetype=1003 and ch.contractid=@contractid
	union all
	select pd.amount+pd.discount,pd.paymentdetailid,pd.rentalchargeid
		,case when p.paymentmode in (2) then b.paymentdate else p.paymentdate end transdate, 1 typeid 
	from payment p 
	inner join paymentdetails pd on pd.paymentid=p.paymentid
	inner join rentalcharges ch on ch.chargeid=pd.rentalchargeid
	left join banktobank b on b.paymentid=p.paymentid where p.[status]<>1 and  ch.chargetype=1003
	and ch.contractid=@contractid
	order by transdate, chargeid
	open curpayment
	
	declare @typeid int
	fetch next from curpayment into @amount,@paymentdetailid,@chargeid,@chargedate,@typeid
	
	select @RUNNINGBALANCE=coalesce(SUM(balance),0) from rentalcharges where contractid=@contractid and chargetype in(1001,1002)
	while @@FETCH_STATUS=0
	begin
		if @typeid = 0 --charge
		begin
			set @RUNNINGBALANCE = ROUND(@RUNNINGBALANCE + @amount,2)
			update rentalcharges set runningbalance=@RUNNINGBALANCE where chargeid = @ChargeId
		end
		else --payment
		begin
			set @RUNNINGBALANCE = ROUND(@RUNNINGBALANCE - @amount,2)
			update paymentdetails set runningbalance=@RUNNINGBALANCE where paymentdetailid=@paymentdetailid
		end
		fetch next from curpayment into @amount,@paymentdetailid,@chargeid,@chargedate,@typeid
	end
	close curpayment
	deallocate curpayment
	
	
	--cleaning 0 amount paymentdetails
	declare @detailid bigint
	declare @prevdetailid bigint
	declare @prevpaymentid bigint
	declare @prevchargeid bigint
	
	set @prevdetailid=0
	set @prevpaymentid=0
	set @prevchargeid=0
	declare CursorPayment cursor for
	select PAYMENTDETAILID,pd.AMOUNT,pd.rentalchargeid,p.paymentid
	from PAYMENT p inner join PAYMENTDETAILS pd on pd.PAYMENTID=p.PAYMENTID
	inner join rentalcharges c on c.chargeid=pd.rentalchargeid
	where p.status<>1 and c.contractid=@contractid
	order by paymentid,pd.rentalchargeid,pd.balance desc
	
	open CursorPayment
	
	fetch next from CursorPayment into @detailid,@amount,@chargeid,@paymentid
	while @@FETCH_STATUS=0
	begin
		if @amount=0
		begin
			delete from PAYMENTDETAILS where PAYMENTDETAILID=@detailid
			BREAK
		end
		if (@ChargeId=@prevchargeid and @paymentid=@prevpaymentid)
		begin
			update PAYMENTDETAILS set AMOUNT=AMOUNT+@amount where PAYMENTDETAILID=@prevdetailid
			delete from PAYMENTDETAILS where PAYMENTDETAILID=@detailid
		end
		else
		begin
			set @prevchargeid=@ChargeId
			set @prevpaymentid=@paymentid
			set @prevdetailid=@detailid
		end
		fetch next from CursorPayment into @detailid,@amount,@chargeid,@paymentid
	end
	close CursorPayment
	Deallocate CursorPayment
END
