

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[spCronJobs]
	-- Add the parameters for the stored procedure here
	@operation int = 2
	,@soperation int = 1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	if @operation = 2
	begin	
		if @soperation = 0
		begin
			declare @cron_reload_rentals datetime
			select @cron_reload_rentals=value from apppreferences where id=2
			
			declare @contractid bigint
			
			declare curRentals cursor for
			select rc.contractid
			from rentalcontracts rc 
			where rc.[status] = 1 and
				DAY(@cron_reload_rentals) <= case when rc.billingsched = 0 then DAY(rc.contractdate) else rc.billingsched end
				
			open curRentals
			
			fetch next from curRentals into @contractid
			while @@FETCH_STATUS=0
			begin
				exec spComputeRentals @contractid = @contractid
				fetch next from curRentals into @contractid
			end	
			close curRentals
			deallocate curRentals
			
			update apppreferences set value = CONVERT(varchar,dbo.fnGetCurrentTime() ,23) where id=2
			
			INSERT INTO [dbo].[notifications]
			   ([employeeid]
			   ,[details]
			   ,[url]
			   ,[datecreated]
			   ,[isread]
			   ,[typeid])
			select 
				e.[employeeid]
			   ,'Contract #' + CAST(rc.contractno as varchar) + '`s rental is due today!' [details]
			   ,'rentals/contract?ref=' + CAST(rc.contractno as varchar) [url]
			   ,dbo.fnGetCurrentTime() [datecreated]
			   ,0 [isread]
			   ,0 [typeid]
			from rentalcontracts rc 
			inner join employees e on rc.companyid=e.companyid
			inner join rentalcharges ch on rc.contractid=ch.contractid
			where e.isactive=1 and ch.chargetype=1003 and ch.isnotified=0 and convert(varchar,ch.chargedate,23) <> convert(varchar,rc.contractdate,23) and convert(varchar,ch.chargedate,23) = convert(varchar,dbo.fnGetCurrentTime(),23)
			update rentalcharges set isnotified=1 where isnotified=0 and chargetype=1003 and convert(varchar,chargedate,23) <= convert(varchar,dbo.fnGetCurrentTime(),23)
		end
		else if @soperation=1
		begin
			declare @cron_reload_subscription datetime
			select @cron_reload_subscription=value from apppreferences where id=1
			
			INSERT INTO [dbo].[notifications]
			   ([employeeid]
			   ,[details]
			   ,[url]
			   ,[datecreated]
			   ,[isread]
			   ,[typeid])
           select 
				e.employeeid
				,'Subscription for ' + CONVERT(varchar,c.subscriptionexpiry,107) + ' - ' + CONVERT(varchar,DATEADD(MONTH,1,c.subscriptionexpiry),107)
				,'/billing'
				,dbo.fnGetCurrentTime()  dateend
			    ,0 [isread]
			    ,0 [typeid]
			from company c
			inner join employees e on c.id=e.companyid
			where c.isactive=1 and c.subscriptionexpiry<=dbo.fnGetCurrentTime()  and e.isactive=1 and e.isappsysadmin=1
			and not exists (select * from bill b where b.companyid=c.id and b.datefrom=c.subscriptionexpiry)
			
			INSERT INTO [dbo].[bill]
			   ([companyid]
			   ,[billdate]
			   ,[particular]
			   ,[datefrom]
			   ,[dateend]
			   ,[duedate]
			   ,[balance]
			   ,[discount]
			   ,[amount]
			   ,[status]
			   ,[paymentmode]
			   ,[paymentrefno]
			   ,[checkouturl]
			   ,[paymentid]
			   ,[datepaid]
			   ,[issent])
			select id
				,c.subscriptionexpiry
				,'Subscription for ' + CONVERT(varchar,c.subscriptionexpiry,107) + ' - ' + CONVERT(varchar,DATEADD(MONTH,1,c.subscriptionexpiry),107)
				,c.subscriptionexpiry datefrom
				,DATEADD(MONTH,1,c.subscriptionexpiry) dateend
				,DATEADD(DAY,15,c.subscriptionexpiry) duedate
			    ,c.[amount] [balance]
			    ,0 [discount]
			    ,c.[amount]
			    ,0 [status]
			    ,'' [paymentmode]
			    ,'' [paymentrefno]
			    ,'' [checkouturl]
			    ,'' [paymentid]
			    ,null [datepaid]
			    ,0 [issent]
			from company c
			where c.isactive=1 and c.subscriptionexpiry<=dbo.fnGetCurrentTime() 
			and not exists (select * from bill b where b.companyid=c.id and b.datefrom=c.subscriptionexpiry)
			
			
			update apppreferences set value = CONVERT(varchar,dbo.fnGetCurrentTime() ,23) where id=1
		end
	end
END
