

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[spWebReports]
	-- Add the parameters for the stored procedure here
	@operation int=0
	,@soperation int=3
	,@search varchar(25)=''
	
	,@contractid bigint = 1
	,@companyid bigint = 2
	,@clientid bigint = 1
	,@paymentid bigint = 5
	,@startdate date='2024-01-01'
	,@enddate date='2024-08-05'
AS
BEGIN
	IF @operation = 0
	BEGIN
		if @soperation = 0 --Payment History - Rentals
		begin
			declare @countothercharges int
			select @countothercharges=COUNT(*) from rentalcharges where contractid=@contractid and chargetype not in(1001,1002,1003)
			;with cte1(paymentdate,refno,particular,interest,debit,credit,runningbalance,chargedate,chargeid,paymentid,creditmemoid,seq)
			as
			(
			--rentals o.name + ' ' + CONVERT(varchar(10),YEAR(c.chargedate)) 
			select 
				null paymentdate,
				null refno,
				case when c.chargetype=1001 then
					case when coalesce(rc.noofmonthdeposit,0)=0 then 'Rental Deposit'
						else convert(varchar(10),rc.noofmonthdeposit) + 
							case when rc.noofmonthdeposit>1 then ' Months' else ' Month' end 
							+ ' Deposit' end
					when c.chargetype=1002 then
					case when coalesce(rc.noofmonthdeposit,0)=0 then 'Advance Rental'
						else convert(varchar(10),rc.noofmonthdeposit) + 
							case when rc.noofmonthdeposit>1 then ' Months' else ' Month' end + ' Advance Rental' end
				else
			   'Rental - '+DATENAME(month,c.chargedate)+' ' + CONVERT(VARCHAR,DATEPART(YEAR,c.chargedate)) end particular,
				c.interestamount,
				c.chargeamount debit,
				null credit,
				c.runningbalance,
				c.chargedate,c.chargeid,0 paymentid,0 creditmemoid,
				case when c.chargetype=1001 then 0 when c.chargetype=1002 then 10 else 20 end seq
			from rentalcharges c
			inner JOIN rentalcontracts rc on rc.contractid=c.contractid
			LEFT join PAYMENTDETAILS pd on pd.rentalchargeid=c.chargeid
			LEFT JOIN PAYMENT p on p.PAYMENTID=pd.PAYMENTID and p.status=0
			where c.contractid=@contractid and rc.companyid=@companyid
			and c.chargetype in(1001,1002,1003)
			and(c.chargedate<=dbo.fnGetCurrentTime()  OR (pd.AMOUNT>0 and coalesce(p.status,1)<>1)) 
			union all
			--other charges
			select 
				c.chargedate paymentdate,
				null refno,
				o.name particular,
				c.interestamount,
				c.chargeamount debit,
				null credit,
				runningbalance,
				c.chargedate,c.chargeid,0 paymentid,0 creditmemoid,30
			from rentalcharges c
			inner JOIN rentalcontracts rc on rc.contractid=c.contractid
			inner join otherfees o on o.id=c.otherfeeid
			where c.contractid=@contractid and rc.companyid=@companyid
			and c.chargetype not in(1001,1002,1003)
			union all
			select 
				null paymentdate,null refno,null particular,null interestamount,null debit,
				null credit,null runningbalance,null chargedate,null chargeid,null paymentid,null creditmemoid,25
				where @countothercharges>0
			union all
			select 
				null paymentdate,null refno,null particular,null interestamount,null debit,
				null credit,null runningbalance,null chargedate,null chargeid,null paymentid,null creditmemoid,16
			union all
			--credit notes
			select
				p.paymentdate,
				p.receiptno refno,
				cmt.name particular,
				null interestamount,
				null debit,
				pd.AMOUNT credit,
				pd.runningbalance runningbalance,
				p.paymentdate chargedate
				,c.chargeid
				,0 paymentid
				,p.paymentid creditmemoid
				,case when c.chargetype=1001 or c.chargetype=1002 then 15 when c.chargetype=1003 then 20 else 30 end seq
			from PAYMENT p 
			inner join PAYMENTDETAILS pd on p.PAYMENTID=pd.PAYMENTID and p.status=0
			inner join rentalcharges c on pd.rentalchargeid=c.chargeid
			inner JOIN rentalcontracts rc on rc.contractid=c.contractid
			inner JOIN creditmemotypes cmt on p.creditmemotypeid=cmt.id
			where c.contractid=@contractid and rc.companyid=@companyid and (pd.AMOUNT>0 and coalesce(p.status,1)<>1) and p.transtype='CN'
			union all
			--payment rentals
			select 
				case when p.paymentmode not in(2) then p.paymentdate else btb.paymentdate end paymentdate,
				p.receiptno refno,
				'Payment - ' + case when c.chargetype=1001 then 'Deposit'
									when c.chargetype=1002 then 'Advace Rental' else 'Rental' end particular,
				null interestamount,
				null debit,
				sum(pd.AMOUNT) credit,
				min(pd.runningbalance) runningbalance,
				case when p.paymentmode not in(2) then p.paymentdate else btb.paymentdate end chargedate
				,null chargeid
				,p.paymentid
				,0 creditmemoid
				,case when c.chargetype in(1001,1002) then 15 when c.chargetype=1003 then 20 else 30 end seq
			from rentalcharges c
			inner join PAYMENTDETAILS pd on pd.rentalchargeid =c.chargeid
			inner JOIN PAYMENT p on p.PAYMENTID=pd.PAYMENTID and p.status=0
			inner JOIN rentalcontracts rc on rc.contractid=c.contractid
			left join BANKTOBANK btb on btb.PAYMENTID=p.PAYMENTID
			where c.contractid=@contractid and rc.companyid=@companyid and p.transtype<>'CN'  and c.chargetype in(1001,1002,1003)
			group by p.paymentmode,p.paymentdate,btb.paymentdate,c.chargetype,p.receiptno,p.paymentid
			union all
			--payment others
			select 
				case when p.paymentmode not in(2) then p.paymentdate else btb.paymentdate end paymentdate,
				p.receiptno refno,
				'Payment for ' +  o.name particular,
				null interestamount,
				null debit,
				pd.AMOUNT credit,
				pd.runningbalance runningbalance,
				case when p.paymentmode not in(2) then p.paymentdate else btb.paymentdate end chargedate
				,c.chargeid
				,p.paymentid
				,0 creditmemoid
				,case when c.chargetype in(1001,1002) then 15 when c.chargetype=1003 then 20 else 30 end seq
			from rentalcharges c
			inner join otherfees o on o.id=c.otherfeeid
			inner join PAYMENTDETAILS pd on pd.rentalchargeid =c.chargeid
			inner JOIN PAYMENT p on p.PAYMENTID=pd.PAYMENTID and p.status=0
			inner JOIN rentalcontracts rc on rc.contractid=c.contractid
			left join BANKTOBANK btb on btb.PAYMENTID=p.PAYMENTID
			where c.contractid=@contractid and rc.companyid=@companyid and p.transtype<>'CN' and c.chargetype=0
			)
			select distinct paymentdate
				,coalesce(refno,'') refno
				,coalesce(particular,'') particular
				,coalesce(interest,0) interest
				,coalesce(debit,0) debit
				,coalesce(credit,0) credit
				,coalesce(runningbalance,0) runningbalance
				,chargedate
				,seq
				,coalesce(chargeid,0) chargeid
				,coalesce(paymentid,0) paymentid
				,coalesce(creditmemoid,0) creditmemoid
			from cte1
			order by seq,chargedate,runningbalance desc,paymentdate asc,chargeid
		end
		else if @soperation = 1 --Payables
		begin
			with crePayables as
			(
				select 
					15 payableType
					,s.id payableID
					,'Survey Fee - ' + s.propertyname + ' (' + convert(varchar, coalesce(s.surveydate,dbo.fnGetCurrentTime() ),23) + ')' [description]
					,s.contractprice grossAmount
					,s.balance balance
					,0 seq
					,s.surveydate chargedate
				from survey s 
				where custid = @clientid and s.balance>0
				union all
				select 
					14 payableType
					,ch.chargeid payableID
					,case when ch.chargetype=1001 then
						case when coalesce(rc.noofmonthdeposit,0)=0 then 'Rental Deposit'
							else convert(varchar(10),rc.noofmonthdeposit) + 
								case when rc.noofmonthdeposit>1 then ' Months' else ' Month' end 
								+ ' Deposit' end
					when ch.chargetype=1002 then
						case when coalesce(rc.noofmonthdeposit,0)=0 then 'Advance Rental'
							else convert(varchar(10),rc.noofmonthdeposit) + 
								case when rc.noofmonthdeposit>1 then ' Months' else ' Month' end + ' Advance Rental' end
					when ch.chargetype=1003 then
						'Rental - '+DATENAME(month,ch.chargedate)+' ' + CONVERT(VARCHAR,DATEPART(YEAR,ch.chargedate))
					else o.name + ' (' + convert(varchar,ch.chargedate,23) + ')' end + ' ( Contract # ' + cast(rc.contractno as varchar) + ')' [description]
					,ch.chargeamount grossAmount
					,ch.balance balance
					,1 seq
					,ch.chargedate chargedate
				from rentalcontracts rc
				inner join rentalcharges ch on rc.contractid=ch.contractid 
				left join otherfees o on ch.otherfeeid=o.id
				where rc.custid = @clientid and ch.balance>0
			)
			--[spWebReports]
			select 
				payableType
				,payableID
				,[description]
				,grossAmount
				,balance
				,0.0 paymentAmount
			from crePayables
			where [description] like '%' + @search + '%'
			order by seq, chargedate
		end
		else if @soperation = 2 --Payment Details
		begin
			with crePayables as
			(
				select 
					15 payableType
					,s.id payableID
					,'Survey Fee - ' + s.propertyname + ' (' + convert(varchar, coalesce(s.surveydate,dbo.fnGetCurrentTime() ),23) + ')' [description]
					,s.contractprice grossAmount
					,s.balance balance
					,0 seq
					,s.surveydate chargedate
					,pd.amount
				from survey s 
				inner join paymentdetails pd on pd.payableType = 15 and s.id = pd.surveyid
				where pd.paymentid = @paymentid
				union all
				select 
					14 payableType
					,ch.chargeid payableID
					,case when ch.chargetype=1001 then
						case when coalesce(rc.noofmonthdeposit,0)=0 then 'Rental Deposit'
							else convert(varchar(10),rc.noofmonthdeposit) + 
								case when rc.noofmonthdeposit>1 then ' Months' else ' Month' end 
								+ ' Deposit' end
					when ch.chargetype=1002 then
						case when coalesce(rc.noofmonthdeposit,0)=0 then 'Advance Rental'
							else convert(varchar(10),rc.noofmonthdeposit) + 
								case when rc.noofmonthdeposit>1 then ' Months' else ' Month' end + ' Advance Rental' end
					when ch.chargetype=1003 then
						'Rental - '+DATENAME(month,ch.chargedate)+' ' + CONVERT(VARCHAR,DATEPART(YEAR,ch.chargedate))
					else o.name + ' (' + convert(varchar,ch.chargedate,23) + ')' end + ' ( Contract # ' + cast(rc.contractno as varchar) + ')' [description]
					,ch.chargeamount grossAmount
					,ch.balance balance
					,1 seq
					,ch.chargedate chargedate
					,pd.amount
				from rentalcontracts rc
				inner join rentalcharges ch on rc.contractid=ch.contractid 
				inner join paymentdetails pd on ch.chargeid= pd.rentalchargeid
				left join otherfees o on ch.otherfeeid=o.id
				where pd.paymentid = @paymentid
			)
			--[spWebReports]
			select 
				payableType
				,payableID
				,[description]
				,grossAmount
				,balance
				,amount paymentAmount
			from crePayables
			order by seq, chargedate
		end
		else if @soperation = 3 --SOA Rentals
		begin
			with crePayables as
			(
				select 
					14 payableType
					,ch.chargeid payableID
					,case when ch.chargetype=1001 then
						case when coalesce(rc.noofmonthdeposit,0)=0 then 'Rental Deposit'
							else convert(varchar(10),rc.noofmonthdeposit) + 
								case when rc.noofmonthdeposit>1 then ' Months' else ' Month' end 
								+ ' Deposit' end
					when ch.chargetype=1002 then
						case when coalesce(rc.noofmonthdeposit,0)=0 then 'Advance Rental'
							else convert(varchar(10),rc.noofmonthdeposit) + 
								case when rc.noofmonthdeposit>1 then ' Months' else ' Month' end + ' Advance Rental' end
					when ch.chargetype=1003 then
						'Rental - '+DATENAME(month,ch.chargedate)+' ' + CONVERT(VARCHAR,DATEPART(YEAR,ch.chargedate))
					else o.name + ' (' + convert(varchar,ch.chargedate,23) + ')' end [description] --+ ' ( Contract # ' + cast(rc.contractno as varchar) + ')' 
					,ch.chargeamount grossAmount
					,ch.balance balance
					,case when ch.chargetype=0 then 30 else 1 end seq
					,ch.chargedate chargedate
				from rentalcontracts rc
				inner join rentalcharges ch on rc.contractid=ch.contractid 
				left join otherfees o on ch.otherfeeid=o.id
				where rc.contractid = @contractid and ch.balance>0 and (ch.chargetype<>1003 or(ch.chargetype=1003 and ch.chargedate<DATEADD(DAY, -DAY(DATEADD(MONTH, 1, dbo.fnGetCurrentTime() )), DATEADD(MONTH, 1, dbo.fnGetCurrentTime() ))))
				union all
				select 
					0 payableType
					,COUNT(*) payableID
					,'' [description]
					,0.0 grossAmount
					,0.0 balance
					,25
					,'' chargedate
				from rentalcontracts rc
				inner join rentalcharges ch on rc.contractid=ch.contractid 
				where rc.contractid = @contractid and ch.balance>0 and ch.chargetype=0
				group by ch.chargetype
				having COUNT(*)>0
			)
			--[spWebReports]
			select 
				payableType
				,payableID
				,[description]
				,grossAmount
				,balance
				,0.0 paymentAmount
			from crePayables
			where [description] like '%' + @search + '%'
			order by seq, chargedate
		end
		else if @soperation=4 --PettyCash History per Account
		begin
			declare @temppettycash as table(
				transid bigint
				,transtype int
				,refno varchar(250)
				,particular varchar(250)
				,actualdate date
				,transdate date
				,amount money
				,remarks varchar(250) null
				,runningbalance money)
				--spexpenses
			;with cte1 as
			(
				select accountid,case when transtype in(0,2) then amount else amount*-1 end amount from pettycashdisbursement where accountid=@search and refdate<@startdate
				union all
				select accountid,(amount*-1) amount from expenses where accountid=@search and usepettycash=1 and [status]=0 and refdate<@startdate
			)
			insert into @temppettycash
			select 0, 0,'' refno, 'Balance Forwarded',null, null, coalesce(sum(cte1.amount),0), '' remarks,0 from cte1
			
			insert into @temppettycash
			select p.disbursementid, p.transtype, convert(varchar(50),p.disbursementid)
				,case when p.transtype=0 then 'Fund Disbursement'
					  when p.transtype=1 then 'Transfer Out to ' + coalesce(ad.accountname,'')
					  when p.transtype=2 then 'Transfer In from ' + coalesce(ad.accountname,'') else '' end, p.refdate, p.datecreated, p.amount, p.remarks,0 from dbo.pettycashdisbursement p
			left join accounts ad on ad.accountid = p.refaccountid
			where p.accountid=@search and p.refdate>=@startdate and p.refdate<=@enddate
			union all
			select e.expenseid, 4 transtype, e.refno,et.expensetypedesc + coalesce(' (' + v.vendorname + ')','')
			, e.refdate, e.transdate, e.amount, e.memo,0 from dbo.expenses e
			inner join expensetypes et on et.expensetypeid=e.expensetype
			inner join vendors v on v.vendorid=e.payeeid
			where e.accountid=@search and e.usepettycash=1 and [status]=0 and e.refdate>=@startdate and e.refdate<=@enddate
			order by refdate,transtype,datecreated
			
			declare curpettycash cursor for
			select transid,transtype,amount from @temppettycash
			
			declare @transid bigint
			declare @transtype int
			declare @runningbalance money=0
			declare @amount money=0
			
			open curpettycash
			fetch next from curpettycash into @transid,@transtype,@amount
			while @@fetch_status=0
			begin
				if @transtype=0 or @transtype=2
					set @runningbalance=@runningbalance+@amount
				else
					set @runningbalance=@runningbalance-@amount
				update @temppettycash set runningbalance=@runningbalance where transid=@transid and transtype=@transtype
				
				fetch next from curpettycash into @transid,@transtype,@amount
			end
			select 
				transid
				,transtype
				,coalesce(refno,'') refno
				,particular
				,transdate
				,actualdate
				,amount
				,case when transtype in(0,2) then amount else 0 end debit
				,case when transtype not in(0,2) then amount else 0 end credit
				,coalesce(remarks,'') remarks
				,coalesce(runningbalance,'') runningbalance
				from @temppettycash
		end
	END
END
